.custom-text{
    padding-right: 140px;
    font-size: 15px;
}

.custom-record{
    background-color: #0072C6;
border-radius: 50%;
width: 10px;
height: 15px;
overflow: hidden;
margin-right: 2px;
}
.custom-record:hover{
  background-color: #005EA3;
border-radius: 50%;
width: 10px;
height: 15px;
overflow: hidden;
cursor: pointer;
}

.custom-button{
  color:#0072C6;
  background-color:white;
  border: 1px transparent solid;
  border-color: #0072C6;
  margin-left:4px;
}
.custom-button:hover{
  color:#005EA3;
  background-color:white;
  border: 1px transparent solid;
  border-color: #005EA3;
}

.flexer {
    flex-grow: 1;
    color: black;
    font-size: 13px;
  }
  .flexer2 {
    margin-right: -100px;
    margin-left: -8px;
  }